.App {}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar {}

.results {
  margin: 2rem 0;
}

.results>div {
  margin: 5px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  width: 11rem;
  background: white;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 3px;
  border: 2px solid black;
}

.btn__primary {
  color: white;
  background: black;
}

.input {
  height: 40px;
  width: 400px;
  background-color: white;
  display: inline-block;
  font-size: 2em;
  border-radius: 3px;
  border: 2px solid black;
  border: none;
  outline: 2px solid black;
  outline-offset: 5px;
  padding: 1px;
}

.input:focus {
  outline: 3px solid black;
  outline-offset: 4px;
}

.border {
  border-radius: 3px;
  border: 2px solid black;
}

.timer {
  position: fixed;
}

footer {
  margin: 5rem
}